body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backgroundImg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

a:link {
  text-decoration: none;
}

h3 {
  margin-top: 0px;
}

input {
  width: 97.8%;
  height: 24px;
  border-radius: 4px;
  border:none;
}

input:focus {
  border:1px solid black;
  box-shadow: 1px 1px 10px white;
}

button {
  width: 100%;
  height: 35px;
  background: round;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  font-size: medium;
}