.sidebar {
    position: absolute;
    top: 13vh;
    left: 10vw;
    width: 15vw;
    height: 80vh;
    display: flex;
    justify-content: left;
    border-bottom-left-radius: 6px;
}

.sidebar>p {
    margin-left: 20px;
    margin-top: 60px;
}