.navbar {
    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 8vh;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.navbar>ul {
    margin-left: 13vw;
    text-align: left;
    display: inline-flex;
    list-style: none;
}

.navbar>ul>li {
    margin: 10px;
}

.navbar>ul>li:hover {
    text-shadow: 1px 1px 5px white;
}